<!DOCTYPE html>
<html>
    <head>
        <title>Chat chido</title>
        <link rel="stylesheet" href="/styles/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <h1>Chat</h1>
        <div>
            <ul id="messages"></ul>
            <div>
                <input type="text" id="message" placeholder="Escribe tu mensaje">
                <button id="trigger">Enviar</button>
            </div>
        </div>
        <script src="/scripts/chat.js"></script>

    </body>
</html>