<!DOCTYPE html>
<html>
    <head>
        <title>Chat chido</title>
        <link rel="stylesheet" href="/styles/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/socket.io/socket.io.js"></script>

    </head>
    <body>
        <h1>Salas</h1>
        <ul>
            <li><a id="1" class="sala" href="./chat/1">sala1</a></li>
            <li><a id="2" class="sala" >sala2</a></li>
            <li><a id="3" class="sala" >sala3</a></li>
            <li><a id="4" class="sala" >sala4</a></li>
            <li><a id="5" class="sala" >sala5</a></li>
        </ul>

    </body>
</html>